/* Reset CSS --------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }
a { text-decoration: none; }



/* Global Styles ------------------------------------------------------------ */

html,body {
	background-color: #fff;
	width: 100%;
	height: 100%;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #fff;
}
a {
	color: #fff;
}
strong {
	font-weight: 700;
}


/* Container ---------------------------------------------------------------- */

.container {
    width: 100%;
    height: 100%;
    background-color: #000
}

/* Structure Elements / Classes ------------------------------------------------------------------ */

header {
	padding: 0 0 3% 0;
}
.intro {
	width: 100%;
	height: auto;
	background-color: #6699cc;
	background-image: url('../image/hero.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0 0 10px 0;
}
.logo {
	float: left;
	width: 50%;
	text-align: left;
}
.logo img {
	padding: 20px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
}
nav ul {
    padding: 3%;
    list-style: none;
    position: relative;
    display: inline;
    float: right;
}
nav ul li {
	float: left;
	padding: 0 30px 0 0;
}
nav ul li a:hover {
	border-bottom-style: solid;
	border-bottom-color: #3a3a3a;
	border-bottom-width: 2px;
}
 nav ul:after {
    content: "";
    clear: both;
    display: block;
}
.intro .column1 {
	float: left;
	width: 50%;
	text-align: left;
	font-size: 1.1em;
}
.intro .column1 h1, .intro .column1 p {
	margin: 0 20% 3% 20%;
}
.intro .column1 h1 {
	line-height: 125%;
	font-size: 2.75em;

}
.intro .column1 p {
	line-height: 200%;
}
.intro .column2 {
	float: left;
	width: 50%;
	text-align: left;
}

.whatWeDo {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
	padding: 3% 0 3% 0;
}
.whatWeDo h1 {
	color: #6699cc;
	font-size: 2.75em;
	padding: 0 0 20px 0;
}
.whatWeDo p {
	color: #000;
	line-height: 200%;
	padding: 0 0 20px 0;
}
.callForSuperheroes {
	width: 100%;
	height: auto;
	background-color: #666;
	background-image: url('../image/careers.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	padding: 7% 0 7% 0;
}
.callForSuperheroes h1 {
	font-size: 2.75em;
	padding: 0 0 50px 0;
}
.video {
	width: 100%;
	height: auto;
	background-color: #e9e9e9;
	text-align: center;
	padding: 7% 0 7% 0;
}
.map {
	width: 100%;
	height: auto;
	background-color: #fff;
	background-image: url('../image/map.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	padding: 7% 0 7% 0;
}
.map .box {
	background-color: hsla(0, 0%, 28%, 0.79);
	width: 12%;
	margin: 0 0 0 10%;
	padding: 2% 3% 3% 1%;
	text-align: left;
}

.map .box h1 {
	font-size: 1.75em;
	padding: 0 0 20px 0;
}
.map .box p {
	line-height: 150%;
	margin: 0 0 10px 0;
}
.contact {
	width: 100%;
	height: auto;
	background-color: #fff;
	text-align: center;
	padding: 2% 0 2% 0;
}
.contact h1 {
	color: #6699cc;
	font-size: 2.75em;
	padding: 0 0 20px 0;
}
.contact p {
	color: #000;
	line-height: 200%;
	padding: 0 0 20px 0;
}
.contact input {
	margin: 0 1% 20px 5px;
	padding: 7px 0 7px 5px;
	font-size: 1.05em;
	line-height: 100%;
}
.small {
	width: 24%
}
.large {
	width: 50%;
}
textarea {
	width: 50%;
	height: 200px;
	margin: 0 1% 20px 5px;
	padding: 5px 0 5px 5px;
	font-size: 1.05em;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
   	color: #666; 
 	line-height: 100%;
}
::-webkit-input-placeholder {
	color: #666;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

:-moz-placeholder { /* Firefox 18- */
	color: #666;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #666;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

:-ms-input-placeholder {  
	color: #666;
	font-family: 'Roboto Slab', serif;
	font-weight: 300; 
}
.submit {
	color: #666;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 1em;
	border: 1px solid #b3b3b3;
	background-color: #fff;
	width: 150px;
}
footer {
	width: 100%;
	height: auto;
	background-color: #6699cc;
	text-align: center;
	padding: 1% 0 1% 0;
}
/* Other  --------------------------------------------------------------- */


.clear {
	clear: both;
}

.scaling {
	max-width: 100%;
	height: auto;
}
.button {
	border: 2px solid #fff;
	padding: 10px 50px 10px 50px;
}
/* IcoMoon Icons  --------------------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?cgw423');
	src:url('../fonts/icomoon.eot?#iefixcgw423') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?cgw423') format('truetype'),
		url('../fonts/icomoon.woff?cgw423') format('woff'),
		url('../fonts/icomoon.svg?cgw423#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding: 0 10px 0 0;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-twitter2:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}


.icons {
	display: inline-block;
	float: left;
	font-size: 2em;
}

